@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400&family=Roboto+Mono:wght@400&family=Source+Code+Pro&display=swap");

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f9f9f9;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.form {
  width: 100%;
  background: linear-gradient(to right, #bc4e9c, #f80759);
  padding: 10px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.form h1 {
  font-size: 2.9rem;
  color: #fff;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 6px;
}

input {
  padding: 10px 15px;
  width: 280px;
  border-radius: 20px;
  border: none;
  outline: none;
  margin: 7px 19px 18px 12px;
  font-size: 0.9rem;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.search-btn {
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 18px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  transition: 0.4s linear;
}

.search-btn:hover {
  background: #000;
  color: #fff;
  font-weight: bold;
}
